<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="navbar-wrapper">
        <button type="button" class="bttn" (click)="changeSite(true)" 
        [ngStyle]="{'background-image':  isAssigned === true ? ' linear-gradient(rgba(0, 0, 0, 0.1) 0 0)' : ''}">Warehouse</button>
        <button type="button" class="bttn" (click)="changeSite(false)" 
        [ngStyle]="{'background-image':  isAssigned === true ? '' : 'linear-gradient(rgba(0, 0, 0, 0.1) 0 0)'}">Assigned</button>
  </div>
  </nav> 
  
  <div class="table-containter">
    <div *ngIf="isAssigned">
      <div class="d-flex justify-content-center">
        <pagination-controls class="my-pagination" (pageChange) ="pagePickedUp = $event" id="assigned"></pagination-controls>
    </div>
  
      <table *ngIf="assignedParcels">
        <tr>
          <th>ID</th>
          <th>Type</th>
          <th>Source address</th>
          <th>Destination address</th>
          <th>Fee paid</th>
          <th>Parcel paid</th>
          <th>Operation</th>
  
      </tr>
        <tr *ngFor="let assignedParcel of assignedParcels | paginate: {
        itemsPerPage: 10,
        currentPage: pageAssigned,
      id: 'assigned'}">
          <th>{{assignedParcel.id}}</th>
          <th>{{assignedParcel.type.name}}</th>
          <th>{{assignedParcel.sourceAddress.city}} {{assignedParcel.sourceAddress.street}} {{assignedParcel.sourceAddress.buildingNumber}}</th>
          <th>{{assignedParcel.destinationAddress.city}} {{assignedParcel.destinationAddress.street}} {{assignedParcel.destinationAddress.buildingNumber}}</th>
          <th>
              {{assignedParcel.parcelFee}}
              <i class="fas fa-check" *ngIf="assignedParcel.isFeePaid"></i>
              <i class="fas fa-times" *ngIf="!assignedParcel.isFeePaid"></i>
          </th>
          <th>
            {{assignedParcel.parcelPrice}}
              <i class="fas fa-check" *ngIf="assignedParcel.isParcelPaid"></i>
              <i class="fas fa-times" *ngIf="!assignedParcel.isParcelPaid"></i>
          </th>
        </tr> 
      </table>
  
    </div>
    <div *ngIf="!isAssigned">
  
      <div class="d-flex justify-content-center">
        <pagination-controls class="my-pagination" (pageChange) ="pagePickedUp = $event" id="picked"></pagination-controls>
    </div>
      <table *ngIf="pickedUpParcels">
        <tr>
          <th>ID</th>
          <th>Type</th>
          <th>Source address</th>
          <th>Destination address</th>

      </tr>
        <tr *ngFor="let pickedUpParcel of pickedUpParcels | paginate: {
        itemsPerPage: 10,
        currentPage: pagePickedUp,
      id: 'picked'}">
          <th>{{pickedUpParcel.id}}</th>
          <th>{{pickedUpParcel.type.name}}</th>
          <th>{{pickedUpParcel.sourceAddress.city}} {{pickedUpParcel.sourceAddress.street}} {{pickedUpParcel.sourceAddress.buildingNumber}}</th>
          <th>{{pickedUpParcel.destinationAddress.city}} {{pickedUpParcel.destinationAddress.street}} {{pickedUpParcel.destinationAddress.buildingNumber}}</th>
        </tr> 
      </table>
    </div>
  </div>