.register-containter{
    background-color: #ffff;
    width: 410px;
    height: 330px;
    border-width: 2px;
    border-color: black;
}

.register-containter input{
    margin-bottom: 10px;
    width: 110%;
}

