<div class="register-containter">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="data">
            <label for="email">E-mail</label>
            <input type="text" formControlName="email" id="email" class="form-control" required>
        </div>
        <div class="data">
            <label for="username">Username</label>
            <input type="text" formControlName="username" id="username" class="form-control" required>
        </div>
        <div class="data">
            <label for="password">Password</label>
            <input type="password" fomControlName="password" id="password" class="form-control">
        </div>
        <div class="data">
            <label for="phone">Phone</label>
            <input type="phone" fomControlName="phone" id="phone" class="form-control">
        </div>
        <button class="btn btn-primary btn-lg" type="submit">Register</button>
    </form>
    </div>