<div class="warehouse-containter" *ngIf="warehouseData">
    <form [formGroup]="warehouseForm" (ngSubmit)="onSubmit(warehouseForm.value)" novalidate>
        <div class="data">
            <label for="city">City</label>
            <input type="text" formControlName="city" id="city" class="form-control" required [(ngModel)]="warehouseData.city">
            <div class="text-danger" *ngIf="submitted && ctls.city.errors && ctls.city.errors.required">Enter city name</div>
        </div>
        <div class="data">
            <label for="street">Street</label>
            <input type="text" formControlName="street" id="street" class="form-control" required [(ngModel)]="warehouseData.street">
            <div class="text-danger" *ngIf="submitted && ctls.street.errors && ctls.street.errors.required">Enter street name</div>
        </div>
        <div class="data">
            <label for="number">Number</label>
            <input type="text" formControlName="number" id="number" class="form-control" required [(ngModel)]="warehouseData.number">
            <div class="text-danger" *ngIf="submitted && ctls.number.errors && ctls.number.errors.required">Enter number</div>
            <div class="text-danger" *ngIf="submitted && ctls.number.errors && ctls.number.errors.pattern">Invalid number</div>
        </div>
        <div class="data">
            <label for="postalCode">Postal Code</label>
            <input type="text" formControlName="postalCode" id="postalCode" class="form-control" required [(ngModel)]="warehouseData.postalCode">
            <div class="text-danger" *ngIf="submitted && ctls.postalCode.errors && ctls.postalCode.errors.required">Enter postal code</div>
            <div class="text-danger" *ngIf="submitted && ctls.postalCode.errors && ctls.postalCode.errors.pattern">Invalid postal code</div>
        </div>
        <div class="d-flex justify-content-lg-center">
            <button class="btn btn-primary btn-lg" type="submit">Save</button>
        </div>
    </form>
    </div>