.size-offer-container{
    background-color: #d0eafc;
}

.parceltype{
    padding-top: 25px;
    margin: auto;
    min-width: 15%;
    max-width: 25%;
    cursor: pointer;
    text-align: center;
    font-size: 2em;
}

.offer-header {
    border-style: solid;
    border-width: 0 0 2px 0;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #0077cc, #d0eafc);
    margin: 0;
  }

