<div class="container">
    <div class="h1 offer-header">
       Our offer
    </div>
    <div class="container size-offer-container">
        <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let parcel of data">
                <ng-template carouselSlide>
                    <div class="parceltype" (click)="foo">
                        <i class="fas fa-box-open fa-5x"></i>
                        <p>{{parcel.name | titlecase}}</p>
                        <p>{{parcel.price}}🧅</p>
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</div>