<div class="warehouse-containter">
    <form novalidate>
        <div class="data">
            <label for="city">City</label>
            <input type="text" formControlName="city" id="city" class="form-control" required>
        </div>
        <div class="data">
            <label for="street">Street</label>
            <input type="text" formControlName="street" id="street" class="form-control" required>
        </div>
        <div class="data">
            <label for="number">Number</label>
            <input type="text" formControlName="number" id="number" class="form-control" required>
        </div>
        <div class="data">
            <label for="postalCode">Postal Code</label>
            <input type="text" formControlName="postalCode" id="postalCode" class="form-control" required>
        </div>
        <button class="btn btn-primary btn-lg" type="submit">Add</button>
    </form>
    </div>