<div class="warehouse-container">
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container">
        <div class="navbar-wrapper">
            <button type="button" class="bttn" >Local warehouse</button>
            <button type="button" class="bttn" >Global Warehouse</button>
            <button type="button" class="bttn" >Postal Code</button>
        </div>
    </div>
</nav>  
<div class="content">
  <table>
    <tr>
      <th>ID</th>
      <th>City</th>
      <th>Street</th>
      <th>Number</th>
      <th>Postal Code</th>
      <th>Active</th>
    </tr>
    <tr *ngFor="let gw of globalWarehouses">
      <th>{{gw.idGlobalWarehouse}}</th>
      <th>{{gw.city}}</th>
      <th>{{gw.street}}</th>
      <th>{{gw.number}}</th>
      <th>{{gw.postalCode}}</th>
      <th>{{gw.active}}</th>
    </tr>
  </table>
</div>













<!-- modale -->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title text" id="add-warehouse">Add warehouse</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss();">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
     <new-warehouse></new-warehouse>
     
    </div>
  </ng-template>

  <ng-template #global let-modal>
    <div class="modal-header">
      <h4 class="modal-title text" id="add-warehouse">Add global warehouse</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss();">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
     <new-global-warehouse></new-global-warehouse>
     
    </div>
  </ng-template>

  <ng-template #delete let-modal>
    <div class="modal-header">
      <h4 class="modal-title text" id="add-warehouse">Delete warehouse</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss();">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
     <delete-warehouse></delete-warehouse>
     
    </div>
  </ng-template>
</div>