<div class="container">
  <h1 class="tracking-header">Track your parcel</h1>
  <div class="tracking-containter">
    <div class="d-flex align-items-center justify-content-center">
      <form class="w-100" [formGroup]="parcelForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="input-group container">
          <input type="text" formControlName="parcelId" id="parcelId" class="form-control"
            placeholder="Enter parcel number">
          <button type="submit" class="btn btn-primary" type="submit">Find</button>
        </div>
      </form>
    </div>
  </div>
</div>