<div class="container">
    <div class="tracking-containter d-flex align-items-center justify-content-center">
      <form class="" [formGroup]="parcelForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="input-group">
              <input type="text" formControlName="parcelId" id="parcelId" class="form-control" placeholder="Enter parcel number">
              <button type="submit" class="btn btn-primary" type="submit">Find</button>
            </div>
          </form>
    </div>
  </div>