<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-wrapper">
      <button type="button" class="bttn" (click)="changeSite(true)" 
      [ngStyle]="{'background-image':  isAssigned === true ? ' linear-gradient(rgba(0, 0, 0, 0.1) 0 0)' : ''}">Assigned</button>
      <button type="button" class="bttn" (click)="changeSite(false)" 
      [ngStyle]="{'background-image':  isAssigned === true ? '' : 'linear-gradient(rgba(0, 0, 0, 0.1) 0 0)'}">Picked up</button>
</div>
</nav> 

<div class="table-containter">
  <div *ngIf="isAssigned">
    <div class="d-flex justify-content-center">
      <pagination-controls class="my-pagination" (pageChange) ="pagePickedUp = $event" id="assigned"></pagination-controls>
  </div>

    <table *ngIf="assignedParcels">
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Source address</th>
        <th>Destination address</th>
        <th>Parcel fee</th>
        <th>Parcel price</th>
        <th>Operation</th>

    </tr>
      <tr *ngFor="let assignedParcel of assignedParcels | paginate: {
      itemsPerPage: 10,
      currentPage: pageAssigned,
    id: 'assigned'}">
        <th>{{assignedParcel.id}}</th>
        <th>{{assignedParcel.type.name}}</th>
        <th>{{assignedParcel.sourceAddress.city}} {{assignedParcel.sourceAddress.street}} {{assignedParcel.sourceAddress.buildingNumber}}</th>
        <th>{{assignedParcel.destinationAddress.city}} {{assignedParcel.destinationAddress.street}} {{assignedParcel.destinationAddress.buildingNumber}}</th>
        <th>
          <i class="fas fa-check" style="color: green;" *ngIf="assignedParcel.isFeePaid"></i>
          <i class="fas fa-times" style="color: Tomato;" *ngIf="!assignedParcel.isFeePaid"></i>
            {{assignedParcel.parcelFee}} 🧅

            
        </th>
        <th>
          <i class="fas fa-check" style="color: green;" *ngIf="assignedParcel.isParcelPaid"></i>
          <i class="fas fa-times" style="color: Tomato;" *ngIf="!assignedParcel.isParcelPaid"></i>
          {{assignedParcel.parcelPrice}} 🧅  
        </th>
        <th>
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-primary" id="dropdownBasic" ngbDropdownToggle>Option</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                  <button ngbDropdownItem *ngFor="let operation of assignedParcel.operations" (click)="doOperation(operation,assignedParcel)">{{nameOperation(operation.operationType)}}</button>
                </div>
              </div>
        </th>
      </tr> 
    </table>

  </div>
  <div *ngIf="!isAssigned">

    <div class="d-flex justify-content-center">
      <pagination-controls class="my-pagination" (pageChange) ="pagePickedUp = $event" id="picked"></pagination-controls>
  </div>
    <table *ngIf="pickedUpParcels">
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Source address</th>
        <th>Destination address</th>
        <th>Parcel fee</th>
        <th>Parcel price</th>
        <th>Operation</th>

    </tr>
      <tr *ngFor="let pickedUpParcel of pickedUpParcels | paginate: {
      itemsPerPage: 10,
      currentPage: pagePickedUp,
    id: 'picked'}">
        <th>{{pickedUpParcel.id}}</th>
        <th>{{pickedUpParcel.type.name}}</th>
        <th>{{pickedUpParcel.sourceAddress.city}} {{pickedUpParcel.sourceAddress.street}} {{pickedUpParcel.sourceAddress.buildingNumber}}</th>
        <th>{{pickedUpParcel.destinationAddress.city}} {{pickedUpParcel.destinationAddress.street}} {{pickedUpParcel.destinationAddress.buildingNumber}}</th>
        <th>

          <i class="fas fa-check" style="color: green;" *ngIf="pickedUpParcel.isFeePaid"></i>
          <i class="fas fa-times" style="color: Tomato;" *ngIf="!pickedUpParcel.isFeePaid"></i>
          {{pickedUpParcel.parcelFee}} 🧅
        </th>
        <th>
          <i class="fas fa-check" style="color: green;" *ngIf="pickedUpParcel.isParcelPaid"></i>
          <i class="fas fa-times" style="color: Tomato;" *ngIf="!pickedUpParcel.isParcelPaid"></i>
          {{pickedUpParcel.parcelPrice}} 🧅
        </th>
        <th>
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-primary" id="dropdownBasic" ngbDropdownToggle>Option</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic">
              <button ngbDropdownItem *ngFor="let operation of pickedUpParcel.operations" (click)="doOperation(operation,pickedUpParcel)">{{nameOperation(operation.operationType)}}</button>
            </div>
          </div>
        </th>
      </tr> 
    </table>
  </div>
</div>