.table-containter{
    width: 80%;
    position: relative;
    margin: auto;
}

.address-book{
    font-size: 4em;
    float:right;
}

.gif{
    height: 20vh;
}

.centered{
position: absolute;
top: 50%;
left: 15%;
margin: -35px 0 0 -35px;
}
.parcel-form{
    width: 50%;
}
tr:nth-child(odd) {
    background: rgb(236, 216, 216)
}

.my-pagination {
    color: black;
  }

.my-pagination:disabled{
    color:black;
}

.info{
    padding-left: 10px;
}


.tracked-parcels{
    padding-top: 10%;
}

.parcel{
    font-size: 2em;
    margin-top: 10px;
    width:fit-content;
}

.btn{
    margin-left: 15px;
}

.parcel:nth-child(even){
    background: rgb(236, 216, 216)
}
