<div class="table-containter d-flex justify-content-center">
    <form [formGroup]="sendParcelForm" (ngSubmit)="onSubmit(sendParcelForm.value)"  novalidate>
    <div class="parcel-form ">
    <div>
    <label for="parcelType">Type</label>
    <select class="form-control" formControlName="parcelType">
        <option value="" disabled> Select parcel type </option>
        <option *ngFor="let parcelType of activeParcelTypes" [ngValue]="parcelType.id">{{parcelType.name}} {{parcelType.price}}$</option>
    </select>
    <div class="text-danger" *ngIf="submitted && ctls.parcelType.errors && ctls.parcelType.errors.required">Parcel type required</div>
    </div>

    <div class="d-flex bd-highlight">
    <p class="h2 p-2 flex-grow-1 bd-highlight">Receiver</p>
    <div class="address-book">
        <i class="fas fa-address-book fa-sm" (click)="sender(getReciver)"></i>
    </div>
    </div>
            <div formGroupName="deliveryAddress">
                <div class="row">
                    <div class="form-group col">
                        <label for="city">City</label>
                        <input type="text" formControlName="city" id="city" class="form-control">
                        <div class="text-danger" *ngIf="submitted && ctls.city.errors && ctls.city.errors.required">City name required</div>
                    </div> 
                    <div class="form-group col">
                        <label for="street">Street</label>
                        <input type="text" formControlName="street" id="street" class="form-control">
                        <div class="text-danger" *ngIf="submitted && ctls.street.errors && ctls.street.errors.required">Street name required</div>
                    </div>   
                </div>
                
                <div class="row">
                    <div class="form-group col">
                        <label for="postalCode">Postal code</label>
                        <input type="text" formControlName="postalCode" id="postalCode" class="form-control">
                        <div class="text-danger" *ngIf="submitted && ctls.postalCode.errors && ctls.postalCode.errors.required">Postal code required</div>
                        </div>  
                    <div class="form-group col">
                            <label for="buildingNumber">Building number</label>
                            <input type="text" formControlName="buildingNumber" id="buildingNumber" class="form-control">
                            <div class="text-danger" *ngIf="submitted && ctls.buildingNumber.errors && ctls.buildingNumber.errors.required">Building number required</div>
                        </div>                           
                        <div class="form-group col">
                            <label for="flatNumber">Flat number</label>
                            <input type="text" formControlName="flatNumber" id="flatNumber" class="form-control">
                            <div class="text-danger" *ngIf="submitted && ctls.flatNumber.errors && ctls.flatNumber.errors.required">Flat number required</div>
                    </div>
                </div>
            </div>

            
            <div class="form-group">
                <label for="receiverDetails">Reciever details</label>
                <input type="text" formControlName="receiverDetails" id="receiverDetails" class="form-control">
                <div class="text-danger" *ngIf="submitted && ctls.receiverDetails.errors && ctls.receiverDetails.errors.required">Reciever details required</div>
            </div>

            <div class="row">
            <div class="form-group col">
                <label for="receiverEmailAddres">Reciever e-mail</label>
                <input type="text" formControlName="receiverEmailAddres" id="receiverEmailAddres" class="form-control">
                <div class="text-danger" *ngIf="submitted && ctls.receiverEmailAddres.errors && ctls.receiverEmailAddres.errors.required">Reciever e-mail required</div>
    
            </div>
            <div class="form-group col">
                <label for="receiverPhoneNumber">Reciever phone number </label>
                <input type="text" formControlName="receiverPhoneNumber" id="receiverPhoneNumber" class="form-control">
                <div class="text-danger" *ngIf="submitted && ctls.receiverPhoneNumber.errors && ctls.receiverPhoneNumber.errors.required">Reciever phone number required</div>
            </div>
            </div> 

            <div class="d-flex bd-highlight">
                <p class="h2 p-2 flex-grow-1 bd-highlight">Sender</p>
                <div class="address-book">
                    <i class="fas fa-address-book fa-sm" (click)="sender(getSender)"></i>
                </div>
                </div>
            <div formGroupName="senderAddress">
                <div class="row">
                    <div class="form-group col">
                        <label for="city">City</label>
                        <input type="text" formControlName="city" id="city" class="form-control">
                        <div class="text-danger" *ngIf="submitted && ctls.city.errors && ctls.city.errors.required">City required</div>
                    </div> 
                    <div class="form-group col">
                        <label for="street">Street</label>
                        <input type="text" formControlName="street" id="street" class="form-control">
                        <div class="text-danger" *ngIf="submitted && ctls.street.errors && ctls.street.errors.required">Street required</div>
                        
                    </div>   
                </div>

                <div class="row">
                    <div class="form-group col">
                        <label for="postalCode">Postal code</label>
                        <input type="text" formControlName="postalCode" id="postalCode" class="form-control">
                        <div class="text-danger" *ngIf="submitted && ctls.postalCode.errors && ctls.postalCode.errors.required">Postal code required</div>
                        </div>  
                    <div class="form-group col">
                        <label for="buildingNumber">Building number</label>
                        <input type="text" formControlName="buildingNumber" id="buildingNumber" class="form-control">
                        <div class="text-danger" *ngIf="submitted && ctls.buildingNumber.errors && ctls.buildingNumber.errors.required">Building number required</div>
                    </div>                           
                    <div class="form-group col">
                        <label for="flatNumber">Flat number</label>
                        <input type="text" formControlName="flatNumber" id="flatNumber" class="form-control">
                        <div class="text-danger" *ngIf="submitted && ctls.flatNumber.errors && ctls.flatNumber.errors.required">Flat number required</div>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label for="senderDetails">Sender details</label>
                <input type="text" formControlName="senderDetails" id="senderDetails" class="form-control">
                <div class="text-danger" *ngIf="submitted && ctls.senderDetails.errors && ctls.senderDetails.errors.required">Sender details required</div>
            </div>
            <div class="row">

            <div class="form-group col">
                <label for="senderEmailAddress">Sender e-mail</label>
                <input type="text" formControlName="senderEmailAddress" id="senderEmailAddress" class="form-control">
                <div class="text-danger" *ngIf="submitted && ctls.senderEmailAddress.errors && ctls.senderEmailAddress.errors.required">Sender e-mail required</div>
            </div>
            <div class="form-group col">
                <label for="senderPhoneNumber">Sender phone number </label>
                <input type="text" formControlName="senderPhoneNumber" id="senderPhoneNumber" class="form-control">
                <div class="text-danger" *ngIf="submitted && ctls.senderPhoneNumber.errors && ctls.senderPhoneNumber.errors.required">Sender phone number required</div>
            </div>
            </div>
            <div class="form-group">
                <label for="price">Price </label>
                <input type="text" formControlName="price" id="price" class="form-control">
                <div class="text-danger" *ngIf="submitted && ctls.price.errors && ctls.price.errors.required">Price required</div>
            </div>

            <button class="btn btn-primary btn-lg bttn" type="submit">Send parcel</button>
</div>
</form>
</div>


<ng-template #getSender let-modal>
    <div class="modal-header">
      <h4 class="modal-title text" id="add-address-book">Get data for sender</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss();">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
     <get-address-book (succes)="onAddressBookGetSender($event)"></get-address-book>
    </div>
  </ng-template>

  <ng-template #getReciver let-modal>
    <div class="modal-header">
      <h4 class="modal-title text" id="add-address-book">Get data for reciever</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss();">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
     <get-address-book (succes)="onAddressBookGetReciver($event)"></get-address-book>
    </div>
  </ng-template>