/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");

html, body { height: 100%; }
body { margin: 0; 
    font-family: "Lato", sans-serif !important; 
    }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.data-table {
    margin: 15px 0;
}

.current {
    background: #E84545!important;
}

.btn-add-new {
    font-size: 16pt!important;
    margin: 10px 0;
}

.separated {
    margin: 10px 0;
}