.table-containter{
    width: 100%;
    position: relative;
    margin: auto;
}
.container{
    width: 80%;
    font-size: 1.25em;
}

.courier{
    margin-top: 15px;
    margin-bottom: 15px;
}

.details{
    margin-left: 5px;
}

.btn{
    margin-left: 5px;
}

.centered{
position: absolute;
top: 50%;
left: 15%;
margin: -35px 0 0 -35px;
}
table{
    width: 100%;
}
tr:nth-child(odd) {
    background: rgb(236, 216, 216)
}

.my-pagination {
    color: black;
  }

.my-pagination:disabled{
    color:black;

}

.info{
    padding-left: 10px;
}
.navbar-brand{
    font-size: x-large;
}

.navbar-wrapper{
    margin: auto;
    height: 8vh;
    z-index: 4;
    justify-content: center;
    font-size: x-large;

}
.bttn:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
    transition-delay: 3s;
}
.warehouse-container{
    margin: 0;
}

.bttn{
    min-width: 10%;
    font-size: 0.8em;
    height: inherit;
    border: none;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    transition: 0s background-color;
}