<div class="table-containter">
    <div class="content">
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary">Add </button>
        </div>
        <table>
          <tr>
            <th>ID</th>
            <th>GlobalID</th>
            <th>City</th>
            <th>Street</th>
            <th>Number</th>
            <th>Postal Code</th>
            <th>Active</th>
            <th>Operation</th>
        </tr>
          <tr *ngFor="let gl of data | paginate: {
          itemsPerPage: 10,
          currentPage: page}">
            <th>{{gl.idWarehouse}}</th>
            <th>{{gl.idGlobalWarehouse}}</th>
            <th>{{gl.city}}</th>
            <th>{{gl.street}}</th>
            <th>{{gl.number}}</th>
            <th>{{gl.postalCode}}</th>
            <th>{{gl.active}}</th>
            <th>

                  <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-primary" id="dropdownBasic" ngbDropdownToggle>Option</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic">
                      <button ngbDropdownItem>Edit</button>
                      <button ngbDropdownItem>{{ gl.active == true ? 'Deactive' : 'Active' }}</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem>Delete</button>
                    </div>
                  </div>

            </th>
          </tr> 
        </table>
         <div class="d-flex justify-content-center">
            <pagination-controls class="my-pagination" (pageChange) ="page = $event"></pagination-controls>
        </div>
      </div>
</div>